body{
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background: linear-gradient(to right, rgb(106, 213, 243),rgb(12, 255, 190));
}
#evil-button{
    position:absolute;
    white-space:nowrap;
    font-size:2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightsteelblue;
    color:bisque;
    border-color:aquamarine;
}